
@media (min-width: 980px) and (max-width: 1200px) {

	.show-menu, .hide-menu {
		right: 50px;
	}

	.coming-soon p {
    	padding: 0 120px;
    }

}

@media (min-width: 768px) and (max-width: 979px) {

    .timer .days-wrapper, .timer .hours-wrapper, .timer .minutes-wrapper, .timer .seconds-wrapper {
        width: 140px;
        height: 120px;
        margin: 0 7px;
        padding-top: 20px;
        -moz-border-radius: 70px;
        -webkit-border-radius: 70px;
        border-radius: 70px;
    }

    .timer .days, .timer .hours, .timer .minutes, .timer .seconds {
        font-size: 60px;
        line-height: 70px;
    }
    
    .coming-soon p, .about p, .whos-behind p, .contact p {
    	padding: 0;
    }

}

@media (max-width: 979px) {

	.show-menu {
		right: 30px;
	}
	
	.hide-menu {
		position: static;
		top: auto;
		right: auto;
		z-index: auto;
	}
	
	.hide-menu a {
		padding-top: 0;
	}

}

@media (max-width: 767px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }

    .coming-soon h2, .subscribe h3, .about h3, .testimonials h3, .whos-behind h3, .contact h3 {
        font-size: 36px;
        padding: 0 20px;
    }

    .coming-soon p, .subscribe p, .about p, .testimonials p, .whos-behind p, .contact p {
        padding: 0 20px;
    }
    
    .about-box-1 p, .whos-behind-box-1 p, .latest-tweets p, .contact-address p {
        padding: 0 20px;
    }

    .timer .days-wrapper, .timer .hours-wrapper, .timer .minutes-wrapper, .timer .seconds-wrapper {
        width: 140px;
        height: 120px;
        margin: 7px;
        padding-top: 20px;
        -moz-border-radius: 70px;
        -webkit-border-radius: 70px;
        border-radius: 70px;
    }

    .timer .days, .timer .hours, .timer .minutes, .timer .seconds {
        font-size: 60px;
        line-height: 70px;
    }
    
    .contact-form, .contact-address {
        text-align: center;
    }
    
    .contact-form {
        padding-bottom: 40px;
    }
    
    .contact-address {
        padding-bottom: 65px;
    }
    
    .footer-copyright, .footer-social {
        text-align: center;
    }
    
    .footer-copyright p {
        padding: 0 20px;
    }
    
    .footer-social {
        margin-top: 15px;
    }

}

@media (max-width: 540px) {

    .subscribe form input {
        width: 90%;
    }

    .subscribe form button {
        width: 90%;
        margin-top: 10px;
    }

}

@media (max-width: 400px) {

	.show-menu {
		right: 10px;
	}

}
