
.ultm-twitter, 
.ultm-twitter.ultm-gray-to-color:hover { background-color: #54c1de; }

.ultm-rss, 
.ultm-rss.ultm-gray-to-color:hover { background-color: #fcba55; }

.ultm-facebook, 
.ultm-facebook.ultm-gray-to-color:hover { background-color: #6686b7; }

.ultm-dribbble, 
.ultm-dribbble.ultm-gray-to-color:hover { background-color: #f5a1bb; }

.ultm-vimeo, 
.ultm-vimeo.ultm-gray-to-color:hover { background-color: #4bbae0; }

.ultm-pinterest, 
.ultm-pinterest.ultm-gray-to-color:hover { background-color: #ff5e63; }

.ultm-instagram-1, 
.ultm-instagram-1.ultm-gray-to-color:hover { background-color: #527fa4; }

.ultm-linkedin, 
.ultm-linkedin.ultm-gray-to-color:hover { background-color: #50a6c1; }

.ultm-youtube-1, 
.ultm-youtube-1.ultm-gray-to-color:hover { background-color: #ee4442; }

.ultm-skype, 
.ultm-skype.ultm-gray-to-color:hover { background-color: #3cb0ee; }

.ultm-flickr-2, 
.ultm-flickr-2.ultm-gray-to-color:hover { background-color: #4c98ff; }

.ultm-myspace-2, 
.ultm-myspace-2.ultm-gray-to-color:hover { background-color: #30a8ed; }

.ultm-google-plus-1, 
.ultm-google-plus-1.ultm-gray-to-color:hover { background-color: #e55e4c; }

.ultm-digg-1, 
.ultm-digg-1.ultm-gray-to-color:hover { background-color: #16acdb; }

.ultm-deviantart, 
.ultm-deviantart.ultm-gray-to-color:hover { background-color: #6caf7e; }

.ultm-wordpress, 
.ultm-wordpress.ultm-gray-to-color:hover { background-color: #47a5cf; }

.ultm-github-1, 
.ultm-github-1.ultm-gray-to-color:hover { background-color: #b3b3b3; }

.ultm-stumbleupon, 
.ultm-stumbleupon.ultm-gray-to-color:hover { background-color: #ff7144; }

.ultm-behance, 
.ultm-behance.ultm-gray-to-color:hover { background-color: #2faee1; }

.ultm-tumblr, 
.ultm-tumblr.ultm-gray-to-color:hover { background-color: #476b89; }

.ultm-feedburner-1, 
.ultm-feedburner-1.ultm-gray-to-color:hover { background-color: #f5535a; }

.ultm-android, 
.ultm-android.ultm-gray-to-color:hover { background-color: #a3ca30; }

.ultm-apple, 
.ultm-apple.ultm-gray-to-color:hover { background-color: #b3b3b3; }

.ultm-email-1, 
.ultm-email-1.ultm-gray-to-color:hover { background-color: #35c7ed; }

.ultm-blogger, 
.ultm-blogger.ultm-gray-to-color:hover { background-color: #f39d38; }
